<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
  <filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
  </filter>
  <filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
  </filter-mapping>
   <servlet>
        <servlet-name>SystemServiceServlet</servlet-name>
        <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
        <init-param>
            <param-name>services</param-name>
            <param-value>com.sharedclipboard.RegistrationEndpoint, com.sharedclipboard.MessagingEndpoint</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemServiceServlet</servlet-name>
        <url-pattern>/_ah/spi/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.sharedclipboard.servlets.LoginServlet</servlet-class>
    </servlet>
    <!-- map servlet to urls-->
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/login.do</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>com.sharedclipboard.servlets.HomeServlet</servlet-class>
    </servlet>
    <!-- map servlet to urls-->
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home.do</url-pattern>
    </servlet-mapping>

    <servlet>
    <servlet-name>DisplayClippingsServlet</servlet-name>
    <servlet-class>com.sharedclipboard.servlets.DisplayClippingsServlet</servlet-class>
</servlet>
    <!-- map servlet to urls-->
    <servlet-mapping>
        <servlet-name>DisplayClippingsServlet</servlet-name>
        <url-pattern>/display.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddClippingsServlet</servlet-name>
        <servlet-class>com.sharedclipboard.servlets.AddClippingsServlet</servlet-class>
    </servlet>
    <!-- map servlet to urls-->
    <servlet-mapping>
        <servlet-name>AddClippingsServlet</servlet-name>
        <url-pattern>/add.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>AddDeviceServlet</servlet-name>
        <servlet-class>com.sharedclipboard.servlets.AddDeviceServlet</servlet-class>
    </servlet>
    <!-- map servlet to urls-->
    <servlet-mapping>
        <servlet-name>AddDeviceServlet</servlet-name>
        <url-pattern>/register.do</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>RefreshClippingsServlet</servlet-name>
        <servlet-class>com.sharedclipboard.servlets.RefreshClippingsServlet</servlet-class>
    </servlet>
    <!-- map servlet to urls-->
    <servlet-mapping>
        <servlet-name>RefreshClippingsServlet</servlet-name>
        <url-pattern>/refresh.do</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>home.do</welcome-file>
    </welcome-file-list>
</web-app>